@model AppsManagement.Models.AppModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChromeWebOrigin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChromeWebOrigin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
