@model IEnumerable<AppsManagement.Models.AppModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (ViewContext.HttpContext.User.IsInRole("apps.admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChromeWebOrigin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChromeWebOrigin)
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("apps.admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.AppId">Edit</a><span> |</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.AppId">Details</a> @*|*@
                    @*<a asp-action="Delete" asp-route-id="@item.AppId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
